body {
  margin: 0; }

header {
  display: block;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background: #f06eaa;
  z-index: 1; }
  header .heder_wrap {
    width: 700px;
    height: 100%;
    margin: 0 auto; }
    header .heder_wrap .logo:hover {
      transition-duration: 1s;
      box-shadow: 5px 5px 80px #d30966,  0 0 50px red; }
    header .heder_wrap .logo {
      position: relative;
      float: left;
      height: 100px;
      width: 100px;
      cursor: pointer;
      border-radius: 5px; }
      header .heder_wrap .logo img {
        display: block;
        margin: 10px auto;
        height: 80px;
        width: 80px; }
    header .heder_wrap nav {
      position: relative;
      display: block;
      float: left;
      height: 100px;
      width: 600px; }
      header .heder_wrap nav ul {
        margin: 0; }
        header .heder_wrap nav ul li {
          margin: 0 10px;
          padding: 0 10px;
          display: inline-block;
          height: 100px;
          transition-duration: 1s;
          font-size: 18px; }
          header .heder_wrap nav ul li a {
            display: block;
            margin-top: 40px;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize; }
        header .heder_wrap nav ul li:hover {
          background: #ec008c; }

content {
  display: block;
  margin-top: 100px;
  position: relative;
  width: 100%;
  z-index: 0; }
  content .photocarusel .wrap_img {
    height: 100%; }
    content .photocarusel .wrap_img img {
      width: 100%; }
  content .photocarusel h1 {
    position: absolute;
    left: 100px;
    color: #d6c5d1;
    font-family: TypoUpright BT;
    font-size: 60px;
    text-shadow: 5px 5px 5px #555;
    cursor: pointer; }
  content .photocarusel h1:hover {
    transition-duration: 1s;
    text-shadow: 5px 5px 5px #555,  0 0 50px red; }
  content .photocarusel .panel {
    height: 50px;
    background: #f06eaa; }
    content .photocarusel .panel .controls {
      margin: 0 auto;
      width: 150px;
      height: 50px;
      /*div:first-child{
          background: #7b0046;
      }*/ }
      content .photocarusel .panel .controls div {
        margin-top: 15px;
        margin-left: 15px;
        float: left;
        height: 20px;
        width: 20px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer; }
  content .row {
    height: 100%;
    font-family: 'Roboto', sans-serif; }
    content .row h1 {
      text-align: center;
      color: #b11b60; }
    content .row p {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      text-indent: 30px;
      width: 800px;
      margin: 50px auto;
      color: #b11b60; }

footer {
  overflow: auto;
  position: relative;
  display: block;
  height: 150px;
  background: #555; }
  footer .wrap {
    height: 100px;
    width: 550px;
    margin: 30px auto; }
    footer .wrap ul {
      display: inline-block;
      margin: 0;
      list-style-type: none; }
      footer .wrap ul li:first-child {
        font-weight: bold; }
      footer .wrap ul #adventge a {
        color: #f2e114; }
      footer .wrap ul li {
        margin: 0; }
        footer .wrap ul li a {
          font-size: 12px;
          text-decoration: none;
          color: #fff; }
        footer .wrap ul li a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
