body{
    margin: 0;
}

header {
    display: block;
    position: fixed;
    top:0;
    height: 100px;
    width: 100%;
    background: #f06eaa;
     z-index: 2;
    .heder_wrap{
        width: 700px;
        height: 100%;
        margin: 0 auto;
        
        
        .logo:hover{
            transition-duration: 1s;
            box-shadow: 5px 5px 80px #d30966,  0 0 50px red;
        }
        
        .logo{
            position: relative;
            float: left;
            height: 100px;
            width: 100px;
            cursor: pointer;
            border-radius: 5px;

            img{
                display: block;
                margin: 10px auto;
                height: 80px;
                width: 80px;
                
            }
        }

        nav{
            position: relative;
            display: block;
            float:left;
            height: 100px;
            width: 600px;

            
            ul{
                margin: 0;
            
                li {
                    margin: 0 10px;
                    padding: 0 10px;
                    display: inline-block;
                    height: 100px;
                    transition-duration: 1s;
                    font-size: 18px;
                       

                    a {
                    display: block;
                    margin-top: 40px;
                    color: #fff;
                    text-decoration: none;
                    text-transform: capitalize;    
                    }


                }
                
            li:hover {
            background: #ec008c;
            } 
                
            }
      
        }
    }
}

content{
    
    display: block;
    margin-top: 100px;
    
    width: 100%;
    z-index: 0;
    
    
    .photocarusel{
        
        .wrap_img{
            height: 100%;
            
            img{
                margin-top: -530px;
                position: absolute;
                width: 100%;
            }
            
        }
        

        
        h1{
            position: absolute;
            left: 100px;
            top: 100px;
            color: #d6c5d1;
            font-family: 'Rochester', cursive;
            font-size: 60px;
            text-shadow: 5px 5px 5px #555;
            cursor: pointer;
            z-index: 1;
        }
        
        h1:hover{
            transition-duration: 1s;
            text-shadow: 5px 5px 5px #555,  0 0 50px red;
        }
        
        .panel{
            margin-top: 600px;
            
            height: 50px;
            background: #f06eaa;
          
            .controls {
                margin: 0 auto;
                width: 150px;
                height: 50px;
                
                /*div:first-child{
                    background: #7b0046;
                }*/
                
                div{
                    margin-top: 15px; 
                    margin-left: 15px; 
                    float: left;
                    height: 20px;
                    width: 20px;
                    background: #fff;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            
        }
    } 
    
    .row{
        height: 100%;
        font-family: 'Roboto', sans-serif;
        h1{
            text-align: center;
            color: #b11b60;
        }
        
        p{
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            text-indent: 30px;
            width: 800px;
            margin: 50px auto;
            color: #b11b60;
        }
        
    }
}

footer{
    overflow: auto;
    position: relative;
    display: block;
    
    height: 150px;
    background: #555;
    
    .wrap{
        height: 100px;
        width: 550px;
        margin: 30px auto;
        
        ul{
            display: inline-block;
            margin: 0;
             list-style-type: none;
            
            li:first-child{
                font-weight:bold;
            }
            
            #adventge a {
                color: #f2e114;
            }
            
            li{
                margin: 0;
                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #fff;
                }
                
                a:hover{
                    text-decoration: underline;
                }
                
                
            }
        }
    }
}

